<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127133976166-83miivk9clq112fnhtg9795s4cgj7eqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127133976166-83miivk9clq112fnhtg9795s4cgj7eqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAGdVQdIPxaygLgQL8zYSmTzEE_fuvotvg</string>
	<key>GCM_SENDER_ID</key>
	<string>127133976166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nkjy.scratch</string>
	<key>PROJECT_ID</key>
	<string>scratch-86b10</string>
	<key>STORAGE_BUCKET</key>
	<string>scratch-86b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127133976166:ios:d02f04a56a5b9208680fa7</string>
</dict>
</plist>